<!--{template common/header}-->
<script>
	function prompt_pop_2_close() {
		setcookie('isclose_prompt_pop_2_time', '1', {$prompt_pop_2['prompt_pop_2_time']});
		display('fwin_prompt_pop_2');
	}	
</script>
<div class="fwinmask">
	<h3 style="cursor: move;" class="flb">
		<em>$prompt_pop_2['prompt_pop_2_title']</em>
		<span style="float:right;margin-right:10px;">
		<a href="javascript:;" class="flbc" onclick="prompt_pop_2_close();hideWindow('prompt_pop_2')" title="Close">Close</a>
		</span>
	</h3>
	<div class="c">
		<!--{if $prompt_pop_2['prompt_pop_2_pic']}-->
		<p><img src="$prompt_pop_2['prompt_pop_2_pic']"/></p>
		<!--{/if}-->
		<p>$prompt_pop_2['prompt_pop_2_content']</p>
	</div>
	<p class="o pns"><button type="submit" class="pn pnc" value="true" onclick="prompt_pop_2_close();"><strong style="color:#FFF;">{lang prompt_pop_2:prompt_pop_2_ok}</strong></button></p>

</div>


<!--{template common/footer}-->
